@inject AppDbContext context
@model RimMenswearShop.ViewsModel.ProductDetailViewModel
@{
    var brands = ViewBag.Brands as List<Brand>;
    var categories = ViewBag.Categories as List<Category>;
    var products = ViewBag.Products as List<Product>;
}
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/banner1.webp" alt="Los Angeles" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="~/images/banner2.webp" alt="Chicago" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="~/images/banner3.webp" alt="Chicago" width="1100" height="500">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

@foreach (var category in categories)
{
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <hr />
                    @*<h2 class="mb-4" style="font-size:25px">
                        <a asp-controller="Home" asp-action="Category" asp-route-id="@category.CategoryId" class="nav-link">@category.Name</a>
                    </h2>*@
                <h3 style="text-align: center;"><span style="color: #000000;"><strong class="text-uppercase">@category.Name</strong></span></h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row reponsive">
                @{
                    var productInCategory = (from e in products
                                             where e.CategoryId == category.CategoryId && e.Remain > 0
                                             select e).Take(12);
                }
                @foreach (var product in productInCategory)
                {
                    <div class="col-sm col-md-6 col-lg ftco-animate">
                        <div class="product rounded my-3 bg-transparent py-2">
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@product.ProductId" class="img-prod">
                                @{
                                    var productImages = (from e in context.Images
                                                         where e.ProductId == product.ProductId
                                                         select e).ToList();
                                    if (productImages.Count != 0)
                                    {
                                        <img src="~/images/products/@productImages[0].ImageName" alt="@product.Name" style="height: 150px; max-width: 90%;" class="mx-auto d-block">
                                    }
                                }
                            </a>
                            <div class="text py-3 px-3">
                                <h3>
                                    <a asp-controller="Home" asp-action="Details" asp-route-id="@product.ProductId">
                                        @product.Name
                                    </a>
                                </h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span class="price-sale">@product.Price.ToString("#,##0") đ</span></p>
                                    </div>
                                </div>
                                <p class="bottom-area d-flex px-3">
                                    <a href="javascript:void(0)" onclick="CustomerCart.AddItem('@product.ProductId')" class="add-to-cart text-center py-2 mr-1"><span>Thêm vào giỏ hàng<i class="ion-ios-add ml-1"></i></span></a>
                                    
                                    <a asp-controller="Orders" asp-action="Order" asp-route-id="@product.ProductId" class="buy-now text-center py-2">Mua ngay<span><i class="ion-ios-cart ml-1"></i></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
}
<script src="~/js/CartCustomer.js"></script>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(assets/images/bg_4.jpg);">
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="2910">0</strong>
                                <span>Happy Customers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="2">0</strong>
                                <span>Branches</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="50">0</strong>
                                <span>Partner</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="69">0</strong>
                                <span>Awards</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
